body{font-family: 'Poltawski Nowy', serif;
    font-family: 'Raleway', sans-serif;
}
.DFMall{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background-image: linear-gradient(#ccbbb1, #203515);
}
.DFMdiv{
    width: 40%;
}
.DFMtitle{
    font-size: 200%;
    padding: 24px 0;
}
.DFMsobre{font-size: 150%;
}
.DFM{width: 40%;
}